.img_logo{
    align-items: center;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.menu {
    background-color: #333;
    position: relative; 
    top: -50px; 
    width: 100%;
    margin-left:-10px;
    padding: 15px 25px;
    text-align: center;   
}
.menu a{
    color: white;
    text-align: center;
    padding: 10px 25px ;
    text-decoration: none;
    font-size: larger;  
}
.menu a:hover {
    background: #333;
    color: rgb(175, 170, 170);
}

/* Lista de Carros do estoque*/
body{
    font-family: sans-serif;
    
    
}
.lista_carros{
    margin-left: 100px;
    
        
}
.texto_01{
    margin-top: -160px;
    margin-left: 270px;
}
.texto_02{
    margin-top: -160px;
    margin-left: 800px;
}

button{
    width: 10%;
    height: 5%;

}
/*Estilo do Footer*/

.imageroda{
    width: 30%;
    height: 30%;
    margin-left: 35%;
       
}

.bloco_footer{
    background-color: black;
    overflow: auto;
    padding: 30px;
    margin-left: -7px;
   

}

.mapa_footer{
    float: right;
       
            
}
.mapa_footer iframe{
    width: 900px;
    height: 200px;
}

.texto_contatos_footer{
    color: red;
    font-weight: bold;
    text-align: left;
    line-height: 30px;
    margin-top: 50px;
}