.logo{
    text-align: left;
    margin-top: -35px;
    width: 100%;
    background-color: white;
}
.menu {
    background-color: #333;
    position: relative; 
    top: -50px; 
    width: 100%;
    margin-left:-10px;
    padding: 15px 25px;
    text-align: center;   
}
.menu a{
    color: white;
    text-align: center;
    padding: 10px 25px ;
    text-decoration: none;
    font-size: larger;  
}
.menu a:hover {
    background: #333;
    color: rgb(175, 170, 170);
}

/* Lista de Carros do estoque*/
body{
    font-family: sans-serif;
    
    
}
.lista_carros{
    margin-left: 300px;
    
        
}
.texto_01{
    margin-top: -160px;
    margin-left: 270px;
}
.texto_02{
    margin-top: -130px;
    margin-left: 800px;
}
.texto_03{
    margin-top: -160px;
    margin-left: 270px;
}
.texto_04{
    margin-top: -150px;
    margin-left: 800px;
}

